# Yarn
node_modules

# Environment
.env

# production
/build

# certs
/certificates

# Local Netlify folder
.netlify

# temp folder
/src/temp

# Example files
/src/helpers/astrochart.js
/src/helpers/astrochart.min.js
/src/helpers/mtz-jk-return-planet-positions.json
/src/helpers/mtz-jk-return.html